h1 {
    background: grey;
    color: white;
}

.description{
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 24px;
    padding: 15px;
    margin-top: 100px;
    margin-left: 10px
}


