h1 {
    background: grey;
    color: white;
}

.description{
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 24px;
    padding: 15px;
    margin-top: 100px;
    margin-left: 10px
}
.shadow{
    box-shadow: 1px 1px 2px green;
    font-style: oblique;
    font-size: 24px

}

