h1 {
    background: grey;
    color: white;
}

.description{
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 24px;
    padding: 15px;
    margin-top: 100px;
    margin-left: 10px
}
.shadow{
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
}

